.footer{
    background-color: rgb(74, 87, 124);
    padding: 100px 0;
    font-size: 38px;
    text-align: center;
    color: white;
    
    @media (max-width: 1200px) {
        font-size: 26px;
    }
}